.font-16 {
  font-size: 16px;
}

.font-13 {
  font-size: 13px;
}

.font-20 {
  font-size: 20px;
}

.avatar-store {
  width: 100%;
  object-fit: cover;
}

.store-info{
  .address-store {
    font-size: var(--font-15);
  }

  .status-store {
    font-size: var(--font-15);
  }
}

.category-active {
  background-color: var(--color-orange);
  padding: 4px;
  border-radius: 5px;
  .category-name {
    color: var(--color-white);
  }
}

.avatar {
  img{
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}
.menu-store {
  background-color: #f2f2f2;

  .menu-store-content {
    .categories {
      padding-right: 0px;
      .category-item{
        cursor: pointer;
        .category-name {
          color: var(--color-black);
        }
      }
    }
  }

  .menu-store-tab {
    .name-tab {
      color: #cf2127;
    }
  }
  .item-list {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    .info-product-user {
      flex: 1;
    }

    .adding-food-cart {
      width: 22px;
      height: 22px;
      position: relative;
      .btn-adding{
        position: absolute;
        top: -3px;
        left: 5px;
      }
    }

    .price {
      color: #0288d1;
    }

    .info-product {
      flex: 1;
    }
  }

  .total-product {
    outline: none;
  }

}

.list-order {
  padding-left: 0px;
  .card-body {
    width: 100%;

    .delete-all-orderdetail {
      a {
        color: #dc3545;
      }
    }

    .item-order {
      .btn-group {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .btn-amount {
          width: 28px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          outline: none;
        }

        .btn-descrease{
          .fa-minus-circle{
            color: #7a7d7e;
          }
        }
        .btn-incease {
          .fa-plus-circle {
            color: green;
          }
        }
      }

      .note {
        input {
          width: 100%;
          outline: none;
        }
      }
    }
  }


}

@media screen and (max-width: 770px){
  .list-order {
    padding-left: 15px;
  }

  .list-product {
    margin-bottom: 1rem;
  }

  .menu-store {
    .menu-store-content {
      .categories {
        padding-right: 15px;
        margin-bottom: 1rem;
      }
    }
  }
}

