.font-16 {
  font-size: 16px;
}

.font-13 {
  font-size: 13px;
}

.font-20 {
  font-size: 20px;
}

.avatar-store {
  width: 100%;
  object-fit: cover;
}

.avatar {
  img{
    width: 60px;
    height: 60px;
  }
}
.menu-store {
  background-color: #f2f2f2;

  .menu-store-tab {
    .name-tab {
      color: #cf2127;
    }
  }
  .item-list {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    .info-product-user {
      flex: 1;
    }

    .adding-food-cart {
      width: 22px;
      height: 22px;
      position: relative;
      .btn-adding{
        position: absolute;
        top: -3px;
        left: 5px;
      }
    }

    .price {
      color: #0288d1;
    }

    .info-product {
      flex: 1;
    }
  }

  .total-product {
    outline: none;
  }

}

.list-order {
  .card-body {
    width: 100%;

    .delete-all-orderdetail {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      a {
        color: #fff;
        background-color: #dc3545;
        padding: 0.25rem;
      }
    }

    .item-order {
      .btn-group {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .btn-amount {
          width: 28px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          outline: none;
        }

        .btn-descrease{
          .fa-minus-circle{
            color: #7a7d7e;
          }
        }
        .btn-incease {
          .fa-plus-circle {
            color: green;
          }
        }
      }

      .note {
        input {
          width: 100%;
          outline: none;
        }
      }
    }
  }


}

