.avatar-store img {
  width: 100%;
  object-fit: cover;
}

.btn-view-detail{
width: 100%;
}

.card-footer{
.item:not(:last-child){
  border-right: 1px solid #ccc;
}
}

@media screen and (max-width: 770px){
  .card-footer{
    .item:not(:last-child){
      border-bottom: 1px solid #ccc;
      border-right: none;
    }
  }
}
