#slider {
  background: url("../../../../assets/images/background-slider.jpg") top center / cover no-repeat;
  padding-top: 50%;
  margin-top: 80px;
}

.store-list {
  background-color: #fff;

  .store-heading{
    .text-heading {
      color: var(--color-black);
    }

    .wp-circle {
      display: flex;
      width: 200px;
      justify-content: space-between;
      margin: 0 auto;
      .circle-left, .circle-right{
        position: relative;
        width: 100px;

        &::before {
          content: '';
          position: absolute;
          top: 70%;
          right: 0;
          height: 3px;
          width: 50%;
          background-color: var(--color-orange);
          border-radius: 10px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: var(--color-orange);
          border-radius: 10px;
        }
      }
      .circle-inner{
        margin: 0px 1px;
        .icon-store {
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          text-align: center;
          color: var(--color-orange);
          background-color: var(--color-white);
          border: 1px solid var(--color-orange);
        }
      }
      .circle-right{
        &::before {
          left: 0;
        }
      }
    }
  }

  .ant-card-bordered {
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
  }
}

::ng-deep{
  .ant-card-meta-title {
    font-weight: 700;
}
}
