<div id="slider">

</div>
<div class="store-list">
  <div class="container">
    <div class="pt-4 store-heading">
      <div class="wp-circle mb-2">
        <div class="circle-left"></div>
        <div class="circle-inner text-center">
          <i class="fas fa-store icon-store"></i>
        </div>
        <div class="circle-right"></div>
      </div>
      <h4 class="text-heading text-uppercase font-weight-bold text-center">
        Cửa hàng/ store
      </h4>
    </div>
    <div class="content col-md-12 col-12 mt-3">
      <div class="form row">
        <div class="col-md-4 col-12 p-4" *ngFor='let item of stores' [routerLink]="['/home/detail-store', item.id]">
          <nz-card nzHoverable [nzCover]="coverTemplate">
            <nz-card-meta nzTitle={{item.storeName}}
              nzDescription={{item.storeAddress}}></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" [src]="url + item.storeAvatar" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
