<div id="slider">

</div>
<div class="store-list">
  <div class="container">
    <div class="pt-4">
      <h5 class="text-uppercase font-weight-bold text-center text-warning">
        Cửa hàng/ store
      </h5>
      <div class="icon-store text-center">
        <a href=""></a>
        <i class="fas fa-store"></i>
        <a href=""></a>
      </div>
    </div>
    <div class="content col-md-12 mt-3">
      <div class="form row">
        <div class="col-md-4 p-4" *ngFor='let item of stores'>
          <nz-card nzHoverable [nzCover]="coverTemplate">
            <nz-card-meta [routerLink]="['/index/detail-store', item.id]" nzTitle={{item.storeName}}
              nzDescription={{item.storeAddress}}></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" [src]="url + item.storeAvatar" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
