<form #form [formGroup]="productForm"class="form-content" *ngIf="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-md-12">Tên sản phẩm</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="productName"
        [class.is-invalid]="formErrors?.productName">
    </div>
    <p class="warning text-danger">{{formErrors?.productName}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Cửa hàng</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="store"
        [class.is-invalid]="formErrors?.store" [readonly]="true">
    </div>
    <p class="warning text-danger">{{formErrors?.store}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Giá tiền</label>
    <div class="col-md-12 input-group">
      <nz-input-number class="form-control" type="text" formControlName="price"
        [class.is-invalid]="formErrors?.price" [nzMin]="0">
      </nz-input-number>
    </div>
    <p class="warning text-danger">{{formErrors?.price}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Danh mục</label>
    <div class="col-md-12 input-group">
      <nz-select class="w-100" formControlName="category" name="category" nzShowSearch nzAllowClear nzPlaceHolder="-Chọn-"
              [compareWith]="compareData">
              <nz-option *ngFor="let item of categories" [nzLabel]="item.categoryName" [nzValue]="item">
              </nz-option>
            </nz-select>
    </div>
  </div>
</form>
