<form #form [formGroup]="productForm"class="form-content" *ngIf="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-md-12">Tên sản phẩm</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="productName"
        [class.is-invalid]="formErrors?.productName">
    </div>
    <p class="warning text-danger">{{formErrors?.productName}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Cửa hàng</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="storeId"
        [class.is-invalid]="formErrors?.storeId" [disabled]="true">
    </div>
    <p class="warning text-danger">{{formErrors?.storeId}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Giá tiền</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="price"
        [class.is-invalid]="formErrors?.price" [disabled]="true">
    </div>
    <p class="warning text-danger">{{formErrors?.price}}</p>
  </div>

  <div class="form-group row">
    <label class="col-md-12">Danh mục</label>
    <div class="col-md-12 input-group">
      <nz-select class="w-100" formControlName="categoryId" name="group" nzShowSearch nzAllowClear nzPlaceHolder="-Chọn-"
              [compareWith]="compareDataCategory">
              <nz-option *ngFor="let item of categories" [nzLabel]="item.categoryName" [nzValue]="item.id">
              </nz-option>
            </nz-select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-12">Trạng thái</label>
    <div class="col-md-12 input-group">
      <input nz-input class="form-control" type="text" formControlName="isHidden" [disabled]
        [class.is-invalid]="formErrors?.isHidden">
    </div>
    <p class="warning text-danger">{{formErrors?.isHidden}}</p>
  </div>
</form>
