<div class="container m-p-header pb-5">
  <div class="my-3">
    <h4 class="text-uppercase font-weight-bold primary-color mb-0">
      thông tin đơn hàng
    </h4>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="card-title font-20">Chi tiết đơn hàng</div>
          <hr>
          <div class="card-list">
            <ng-container *ngFor="let item of orderDetails">
              <div class="item-list p-2 font-16">
                <div class="avatar">
                  <img src="../../../../assets/banner-login.jpg" alt="">
                </div>
                <div class="info-product-user ml-3">
                  <div class="product-name">
                    {{item.product.productName}}
                  </div>
                  <div class="price">
                    {{item.product.price | currency: 'VND'}}
                  </div>
                </div>
                <button [disabled]="item?.amount <= 1" class="btn btn-success my-2 font-16"
                  (click)="decreaseAmount(item.product.id, item.amount)">
                  -
                </button>
                <input type="text" class="mx-3 my-2 btn-amount font-16" [value]="item.amount" readonly>
                <button class="btn btn-outline-danger my-2 mr-3 font-16"
                  (click)="increaseAmount(item.product.id, item.amount)">
                  +
                </button>
                <button class="btn btn-outline-danger my-2 btn-delete font-16" (click)="delete(item)">
                  Xóa
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card font-16">
        <div class="card-header">
          <h4 class="username text-center">{{order?.user.email}}</h4>
          <div class="card-price text-center">
            <span class="text">Tổng tiền: </span>
            <span class="price">{{totalPrice | currency: 'VND'}}</span>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label class="col-md-12 px-0">Ghi chú</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
            <button class="btn col-md-12 btn-submit btn-light font-16">Cập nhật ghi chú</button>
          </form>
        </div>
        <div class="card-footer row mx-0">
          <ng-container *ngIf="order?.orderState === 1;else second">
            <a class="col-md-12 text-center btn btn-outline-info mb-2 font-16"
              (click)="showAddOrderPopup(order, orderDetails)">Chọn món</a>
            <hr>
            <a class="col-md-12 text-center btn btn-outline-success mb-2 font-16" (click)="closeOrCancelOrder(2)">Chốt đơn</a>
            <hr>
            <a class="col-md-12 text-center btn btn-outline-danger font-16" (click)="closeOrCancelOrder(0)">Hủy đơn</a>
          </ng-container>
          <ng-template #second>
            <ng-container *ngIf="order?.orderState === 0;else third">
              <a class="col-md-12 text-center btn btn-danger font-16">Đã hủy đơn</a>
            </ng-container>
          </ng-template>
          <ng-template #third>
            <a class="col-md-12 text-center btn btn-success mb-2 font-16">Đã chốt đơn</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
