// COLORS
$main: #64778a;
$sen: #2196f3;
$link: #24deac;
$hover: #ec8b00;
$bg: #e1e3e4;
$border: #bfc1c2;
$basic: #e5e5e5;
$info: #2d7091;
// $success: #659f13;
// $warning: #e28327;
$danger: #d85030;
// Secondary;
$tquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-ashpalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$dangerorange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$brown: #666666;
$brown-black: #333333;
// $white: #ffffff;
$black: #000000;

// Dự Án
// $tim: #87509c ;//Tím
// $xam: #e6f1f8 ;//Xam
// $ngoc: #17c2a4 ;// Cyan
// $vang: #ffdd99 ;// Vang
// $do: #d74680 ;// Đỏ
// $xanh: #3c5499 ;// Xanh
// $duong: #00a4e3; // Xanh

$mauden: #191E15;
$dennhat:#28351E;
$xanhla: #05ff5f;
$lam1:#f05924;
$lam:#00DFFF;
$vang:#FFD62E;
$do:#ff002b;
$white: #FCFCFC;
$xam: #e6f1f8;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;


// variable fontsize
$fs-1: 11px;
$fs-2: 12px;
$fs-3: 13px;
$fs-4: 14px;
$fs-5: 15px;
$fs-6: 16px;
$fs-7: 17px;
$fs-8: 18px;
$fs-9: 19px;
$fs2-0:20px;
$fs2-1: 21px;
$fs2-2: 22px;
$fs2-3: 23px;
$fs2-4: 24px;
$fs2-5: 25px;
$fs2-6: 26px;
$fs2-7: 27px;
$fs2-8: 28px;
$fs2-9: 29px;
$fs3-0:30px;

//variable font-weight
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
