<div class="container">
  <form [formGroup]="userForm" class="form-content" *ngIf="userForm" (ngSubmit)="onSubmit()">
    <div class="row mx-0 my-3">
      <div class="col-md-6 d-flex align-items-center">
        <h4 class="text-uppercase font-weight-bold primary-color mb-0">
          thông tin cá nhân
        </h4>
      </div>

      <div class="col-md-6 d-flex justify-content-end px-0">
        <button nz-button nzType="primary" type="submit" class="text-uppercase align-items-center">
          Lưu
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <label class="col-md-12">Họ và tên</label>
      <div class="col-md-12 input-group">
        <input nz-input class="form-control" type="text" formControlName="fullName"
          [class.is-invalid]="formErrors?.fullName">
      </div>
      <p class="warning text-danger">{{formErrors?.fullName}}</p>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Giới tính</label>
      <div class="col-md-12 input-group">
        <nz-select class="w-100" formControlName="gender" name="gender" nzShowSearch nzAllowClear nzPlaceHolder="-Chọn-"
          [compareWith]="compareData">
          <nz-option *ngFor="let item of genders" [nzLabel]="item.genderName" [nzValue]="item.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Tên tài khoản</label>
      <div class="col-md-12 input-group">
        <input nz-input class="form-control" type="text" formControlName="userName"
          [class.is-invalid]="formErrors?.userName" [readonly]="true">
      </div>
      <p class="warning text-danger">{{formErrors?.userName}}</p>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Email</label>
      <div class="col-md-12 input-group">
        <input nz-input class="form-control" type="text" formControlName="email" [class.is-invalid]="formErrors?.email"
          [readonly]="true">
      </div>
      <p class="warning text-danger">{{formErrors?.email}}</p>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Số điện thoại</label>
      <div class="col-md-12 input-group">
        <input nz-input class="form-control" type="text" formControlName="phoneNumber"
          [class.is-invalid]="formErrors?.phoneNumber">
      </div>
      <p class="warning text-danger">{{formErrors?.phoneNumber}}</p>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Ngày sinh</label>
      <div class="col-md-12 input-group">
        <nz-date-picker class="form-control" formControlName="dateOfBirth" [class.is-invalid]="formErrors?.dateOfBirth">
        </nz-date-picker>
      </div>
      <p class="warning text-danger">{{formErrors?.dateOfBirth}}</p>
    </div>

    <div class="form-group row">
      <label class="col-md-12">Ảnh đại diện</label>
      <div class="upload-image col-md-12">
        <input #upload class="upload" type='file' (change)="onSelectFile($event)" name="avatar"
          accept=".jpg, .jpeg, .png">
        <div class="display-img" *ngIf="user.avatar">
          <img [src]="url + user.avatar" class="img">
          <i class="icon-delete-image" nz-icon nzType="close" nzTheme="outline" (click)="removeImg()"></i>
        </div>
        <ng-container *ngIf="!user.avatar">
          <div class="perspective-image" (click)="upload.click()">
            <i nz-icon nzType="file-add" nzTheme="outline"></i>
          </div>
        </ng-container>
      </div>
      <p class="warning text-danger">{{formErrors?.avatar}}</p>
    </div>
  </form>
</div>
