<div class="footer-wrap">
  <div class="container">
    <div class="row content pt-5">
      <div class="contact-info col-md-4">
        <h4 class="text-heading">
          liên hệ với chúng tôi
        </h4>
        <div class="contact-item">
          <ul class="list-unstyled">
            <li class="contact-phone mb-2">
              <i class="fas fa-phone-alt mr-2"></i>
              <a href="">Điện thoại: 0777844595</a>
            </li>
            <li class="contact-email mb-2">
              <i class="fas fa-envelope-open mr-2"></i>
              <a href="">Email: tuannguyenduc151198@gmail.com</a>
            </li>
            <li class="contact-address">
              <i class="fas fa-map-marker-alt mr-2"></i>
              <a href="">36 DH3 HNT - Điện Phước - Điện Bàn - Quảng Nam</a>
            </li>
          </ul>
          <img src="../../../../assets/logo.png" alt="" class="logo">
        </div>
      </div>
      <div class="contact-about col-md-2">
        <h4 class="text-heading">
          về chúng tôi
        </h4>
        <ul class="list-item list-unstyled">
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đăng ký</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đăng nhập</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Cửa hàng</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đơn hàng</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Tài khoản</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="contact-support col-md-3">
        <h4 class="text-heading">
          hỗ trợ khách hàng
        </h4>
        <ul class="list-item list-unstyled">
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đăng ký</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đăng nhập</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Cửa hàng</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Đơn hàng</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Tài khoản</a>
          </li>
          <li>
            <i class="fas fa-chevron-right mr-2"></i>
            <a href="">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="contact-connect col-md-3">
        <h4 class="text-heading">
          kết nối với chúng tôi
        </h4>
        <div class="connect-icon">
          <i class="fab fa-facebook-f mr-3"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="copyright col-md-12 text-center py-3">
        <p class="my-0">© Copyright 2021 - 2022</p>
      </div>
    </div>
  </div>
</div>
