.footer-wrap {
  background: url("../../../../assets/images/background-footer.jpg") bottom center/ cover no-repeat;
  object-fit: cover;
  position: relative;
  .content{
    position: relative;
    z-index: 2;
    .text-heading {
      text-transform: uppercase;
      font-size: var(--font-16);
      font-weight: bold;
      color: var(--color-white);
      position: relative;
      padding-bottom: 1rem;
      &::before{
        content: '';
        bottom: 0;
        position: absolute;
        height: 4px;
        background-color: var(--color-orange);
        width: 5rem;
      }
    }
  }

  .contact-info {
    .contact-item {
      img{
        width: 75%;
      }
      li{
        i{
          width: 28px;
          height: 28px;
          border-radius: 50%;
          line-height: 28px;
          text-align: center;
          background-color: var(--color-white);
          color: var(--color-orange);
          border: 1px solid var(--color-white);
          font-size: var(--font-13);
        }
        a {
          color: #d4d4d4;
        }
        &:hover > i{
          background-color: var(--color-orange);
          color: var(--color-white);
          transition: 0.5s ease-out;
        }
      }
    }
  }

  .contact-about, .contact-support {
      li{
        i{
          color: #d4d4d4;
        }
        a {
          color: #d4d4d4;
        }
        &:hover i, &:hover a{
          color: var(--color-orange);
          transition: 0.3s ease-out;
        }
    }
  }

  .contact-connect {
    .connect-icon{
      i {
        color: var(--color-orange);
        font-size: var(--font-16);
        background-color: var(--color-white);;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:hover {
          background-color: var(--color-orange);
          color: var(--color-white);
          transition: 0.5s ease-out;
          cursor: pointer;
        }
      }
    }
  }

  &::after{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
    z-index: 1;
  }

  .copyright {
    color: var(--color-white);
    border-top: 2px solid #d4d4d4;
  }
}
