<div class="popup-container">
  <div class="content container h-50 w-300 p-0">
    <div class="d-flex justify-content-center popup-title pl-0 mb-3">
      Thay đổi mật khẩu
    </div>
    <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
      <div class="nz-col px-2 pb-2" nzSpan="12">
          <div class="w-100">
            <div class="row align-items-center mb-3">
              <div class="col-4 align-items-center pl-0">
                <p class="mb-0 required">Email:</p>
              </div>
              <div class="col-8">
                <input type="email" [(ngModel)]="email" nz-input placeholder="Email" />
              </div>
            </div>
          </div>
          <div *nzModalFooter>
            <button nz-button nzType="primary" (click)="onSubmit()">Đồng ý</button>
            <button nz-button nzType="default" (click)="closePopup()">Hủy</button>
          </div>
      </div>
    </div>
  </div>
</div>
